:root {
    --header-height: 15em;
    --main-color:  #0e89be;
    --accent-color: #0b648a;
    --discret-color: #787a7c;
    --rounded: 8px;
}

/* moyenne.html */
.main-moyenne {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    font-size: large;
    margin-top: 1em;
}

.form button {
    margin-top: 1em;
}

.subtitle {
    margin-top: 1em;
    font-weight: normal;
}

.moyenne {
    --red-color: #d31a00;
    --orange-color: #f5c400;
    --green-color: #35ae1a;
    font-weight: bold;
}

.moyenne[red] {
    color: var(--red-color);
}

.moyenne[orange] {
    color: var(--orange-color);
}

.moyenne[green] {
    color: var(--green-color);
}

.footer{
    background-color:var(--main-color);
    color: white;
    height: 3em;
    text-align: center;
}