:root {
    --header-height: 15em;
    --main-color:  #0e89be;
    --accent-color: #0b648a;
    --discret-color: #787a7c;
    --rounded: 8px;
}

/* presentation.html */
.main-presentation {
    display: flex;
    text-align: justify;
    gap: 6em;
}

.content {
    margin: 0 10% 0 20%;
    white-space: 2em;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: large;
}

.content ul{
    padding: 10px;
}

.goto-menu {
    background-color: var(--main-color);
    font-size: large;
    height: min-content;
    padding: 2em 3em;
    margin: 10px 0 0 1em;
    border-radius: var(--rounded);
    position: fixed;
}

.goto-menu ul li {
    list-style: none;
    padding: 0.5em;
    transition: 0.2s;
}

.goto-menu ul li:hover {
    transform: translateX(-15px);
}

.goto-menu ul li a {
    text-decoration: none;
}

.goto-menu ul li a::after {
    content: "";
    display: block;
    margin: 0 4em;
}

@keyframes slide {
    50% {
        width: 30%;
    }
    100% {
        width: 60%;
    }
}

@keyframes unslide {
    0% {
        width: 60%;
    }
    50% {
        width: 30%;
    }
    100% {
        width: 0;
    }
}

.line {
    height: 2px;
    width: 0;
    margin-left: 10px;
    background-color: #fff;
}

@media (max-width: 1460px) {
    .content {
        margin: 0 5% 0 25%;
    }
}

@media (max-width: 1150px) {
    .content {
        margin: 0 5% 0 30%;
    }
}

@media (max-width: 950px) {
    .goto-menu {
        display: none;
    }

    .content {
        margin: 0 5% 0 5%;
    }
}

@media (max-width: 750px) {
    .content {
        margin: 0 2% 0 2%;
    }
}