@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --header-width: 30em;
}

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

a {
    color: #fff;
}

.header {
    background-color: #007bff;
    height: var(--header-width);
    color: #fff;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: calc(var(--header-width) / 8);
    font-size: 2em;
}

@media(max-width: 50em) {
    .title {
        font-size: 1em;
    }

}

.nav {
    font-size: large;
    padding: 0 30em 0 30em;
}

.nav ul {
    display: flex;
    padding: 1.7em 0;
    justify-content:space-evenly;
}

.nav ul li {
    list-style: none;
    transition: 0.2s ease;
}

.nav ul li:hover {
    transform: translateY(-8px);
}

.nav ul li a {
    text-decoration: none;
}

.nav ul li a:hover {
    text-decoration: solid;
}