@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* global rules */
:root {
    --header-height: 15em;
    --main-color:  #0e89be;
    --accent-color: #0b648a;
    --discret-color: #787a7c;
    --rounded: 8px;
}

@font-face {
    font-family: "Pacaembu";
    src: url("../media/PacaembuVar-subset.woff2");
}

* {
    font-family: "Pacaembu", "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #29292f;
    color: #a2a5a6;
}

a {
    color: #fff;
}

input {
    border-radius: calc(var(--rounded) / 2);
    outline: none;
    border: 1px solid var(--discret-color);
    padding: 13px 15px;
    font-size: 16px;
    height: 18px;
}

.progress-bar {
    position: fixed;
    width: 100%;
    height: 0.5vh;
}

.filled {
    width: 0;
    height: 100%;
    background-color: #fff;
}

.btn {
    border-radius: var(--rounded);
    border: none;
    padding: 15px;
    background-color: var(--main-color);
    color: #fff;
    font-size: large;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--accent-color);
}

.header {
    background-color: var(--main-color);
    height: var(--header-height);
    color: #fff;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: calc(var(--header-height) / 20);
    font-size: 2em;
}

.nav {
    display: flex;
    justify-content: center;
    font-size: large;
}

.nav ul {
    display: flex;
    padding: 1.7em 0;
    gap: 2em;
}

.nav ul li {
    list-style: none;
    transition: 0.2s ease;
}

.nav ul li::after {
    content: "";
    display: block;
    height: 2px;
    transition: 0.2s;
}

.nav ul li:hover::after {
    background-color: #fff;
}

.nav ul li:hover {
    transform: translateY(-8px);
}

.nav ul li a {
    text-decoration: none;
}

.nav ul li a:hover {
    text-decoration: solid;
}

.hamburger-menu {
    display: none;
}

input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    color: white;
    height: 5em;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 2em;
}

.footer-sticky {
    background-color: var(--main-color);
    color: white;
    height: 5em;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

@media (max-width: 450px) {
    .title {
        font-size: 1.5em;
    }

    .hamburger-menu {
        display: block;
        margin-left: auto;
        padding: 15px 20px;
    }

    .nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        margin-left: 3rem;
        gap: 1rem;
        background-color: var(--accent-color);
        border-radius: var(--rounded);
        margin-top: 0.5rem;
        width: 40rem;
    }
}

@media (min-width: 450px) {
    .nav ul {
        display: flex;
    }
}

@media (min-width: 450px) {
    .title {
        display: flex;
    }
}