.title-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.mybutton {
    padding: 20px 30px;
    border: none;
    margin: 1px;
    border-radius: 5px;
    transition: 0.3s;
    width: 80px;
}

.mybutton:hover {
    cursor: pointer;
    background-color: #0a58ca;
}

.mybutton:active {
    transform: scale(0.92);
}

.mybutton:disabled {
    background-color: #0a58ca;
}

.mybutton:disabled:hover {
    cursor: default;
    transform: scale(1);
}

.initiale {
    color: #fff;
    background-color: #007bff;
}

.select { 
    color: #fff;
    background-color: #0a58ca;
}

.demo {
    padding: 0 0 0 2.5rem;
}

@media (max-width: 576px) {
    .demo {
        padding: 0 0 0 1.5rem;
    }
}

.replay_button {
    padding: 15px 30px;
    background-color: #198754;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: large;
    transition: 0.4s;
}

.replay_button:hover {
    background-color: #157347;
    box-shadow: 0 0 20px rgba(250, 250, 250, 0.8);
    cursor: pointer;
}

.replay_button:active {
    transform: scale(0.93);
}

/* glow button */
.glow-button {
    --button-background: #09041e;
    --button-color: #fff;
    --button-shadow: rgba(33, 4, 104, 0.2);
    --button-shine-left: rgba(120, 0, 245, 0.5);
    --button-shine-right: rgba(200, 148, 255, 0.65);
    --button-glow-start: #b000e8;
    --button-glow-end: #009ffd;
    appearance: none;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    border-radius: 11px;
    position: relative;
    line-height: 24px;
    cursor: pointer;
    color: var(--button-color);
    padding: 0;
    margin: 0;
    background: none;
    z-index: 1;
    box-shadow: 0 8px 20px var(--button-shadow);
}

.glow-button .gradient {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    transform: scaleY(1.02) scaleX(1.005) rotate(-0.35deg);
}

.glow-button .gradient:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: scale(1.05) translateY(-44px) rotate(0deg) translateZ(0);
    padding-bottom: 100%;
    border-radius: 50%;
    background: linear-gradient(90deg, var(--button-shine-left), var(--button-shine-right));
    animation: rotate linear 2s infinite;
}

.glow-button span {
    z-index: 1;
    position: relative;
    display: block;
    padding: 15px 10px;
    width: 132px;
    border-radius: 8px;
    background-color: var(--button-background);
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.glow-button span:before {
    content: "";
    position: absolute;
    left: -16px;
    top: -16px;
    transform: translate(var(--pointer-x, 0px), var(--pointer-y, 0px)) translateZ(0);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--button-glow, transparent);
    opacity: var(--button-glow-opacity, 0);
    transition: opacity var(--button-glow-duration, 0.5s);
    filter: blur(20px);
}

.glow-button:hover {
    --button-glow-opacity: 1;
    --button-glow-duration: 0.25s;
}

@keyframes rotate {
    to {
        transform: scale(1.05) translateY(-44px) rotate(360deg) translateZ(0);
   }
}