:root {
    --header-height: 15em;
    --main-color: #0e89be;
    --accent-color: #0b648a;
    --discret-color: #787a7c;
    --rounded: 8px;
    --light: #fff;
    --color-light: #171515;
    --dark: #29292f;
    --color-dark: #a2a5a6;
}

/* moyenne.html */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30em;
    height: 20em;
    margin: 0px auto;
    padding: 2.5em 4em;
    background-color: #fff;
    border-radius: var(--rounded);
}

body[light] .form {
    background-color: #f6f6f6;
    border: 1px black solid;
}

.form label {
    font-size: large;
    color: #000;
}

.form button {
    margin-top: 1em;
}

.subtitle {
    margin-top: 1em;
    font-weight: normal;
}

input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.moyenne {
    --red-color: #d31a00;
    --orange-color: #f5c400;
    --green-color: #35ae1a;
    font-weight: bold;
}

.moyenne[red] {
    color: var(--red-color);
}

.moyenne[orange] {
    color: var(--orange-color);
}

.moyenne[green] {
    color: var(--green-color);
}

@media (max-width: 450px) {
    .form {
        padding: 2em 3em;
        width: fit-content;
    }
}