:root {
    --header-width: 20em;
    --main-color:  #0e89be;
    --accent-color: #0b648a;
    --discret-color: #787a7c;
    --rounded: 8px;
    --light: #fff;
    --color-light: #000;
    --color-dark: #a2a5a6;
    --dark: #29292f;
    --dark-project: #0dcaf0;
    --light-project: #0a8ca7;
}

/* projets.html */
/* see game.css for more styling */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10% 0 10%;
}

.project-title {
    margin: 0.5rem 0 1rem;
    color: var(--dark-project);
}

body[light] .project-title {
    margin: 0.5rem 0 1rem;
    color: var(--light-project);
}

@media (max-width: 1100px) {
    .main {
        margin: 0 5% 0 5%;
    }
}

@media (max-width: 768px) {
    .main {
        margin: 0;
    }
}

@media (max-width: 450px) {
    .video {
        width: 350px;
        height: 250px;
    }
}