:root {
    --header-height: 15em;
    --main-color: #0e89be;
    --accent-color: #0b648a;
    --discret-color: #787a7c;
    --rounded: 8px;
    --light: #efe9e9;
    --color-light: #171515;
    --dark: #29292f;
    --color-dark: #a2a5a6;
}

body[light] .search-link {
    color: var(--color-light);
}

body[light] .animated-link-light:hover::after {
    background-color: var(--color-light);
} 

.search-results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.search-result {
    margin-bottom: 2rem;
}

.failed {
    color: red;
    font-size: 5rem;
}