<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/contact.css">
</head>
<body>
    <header class="header">
        <nav class="nav">
            <ul>
                <li>
                    <a href="index.html">Accueil</a>
                </li>
                <li>
                    <a href="presentation.html">Présentation</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
                <li>
                    <a href="contrainte.html">Page contrainte</a>
                </li>
            </ul>
        </nav>
        <div class="title">
            <h1>Contactez-nous</h1>
        </div>
    </header>

    <main class="contact">
        <div class="container">
            <form action="#" method="post">
                <input class="field" type="text" name="name" placeholder="Entrez votre nom..." required="">
                <input class="field" type="text" name="email" placeholder="Entrez votre mail..." required="">
                <input class="field" type="text" name="subject" placeholder="Objet du message..." required="">
                <textarea name="message" placeholder="Entrez votre message..."></textarea>
                <button type="submit" class="btn">Envoyer</button>
            </form>
        </div>
    </main>

</div>
</body>
</html>