{% extends "base.html" %}

{% block title %}
Contactez-nous
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
{% endblock %}

{% block nav_title %}
Contactez-nous
{% endblock %}

{% block content %}
<div class="container">
    <form action="#" method="post">
        <input class="field" type="text" name="name" placeholder="Entrez votre nom..." required="">
        <input class="field" type="text" name="email" placeholder="Entrez votre mail..." required="">
        <input class="field" type="text" name="subject" placeholder="Objet du message..." required="">
        <textarea name="message" placeholder="Entrez votre message..."></textarea>
        <button type="submit" class="btn">Envoyer</button>
    </form>
</div>
{% endblock %}