{% extends "base.html" %}

{% block title %}
Contactez-nous
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
{% endblock %}

{% block nav_title %}
Contactez-nous
{% endblock %}

{% block content %}
{%  for category, message in get_flashed_messages(with_categories=true) %}
<div class="message {{ category }}">
    <p>{{ message }}</p>
</div>
{% endfor %}
<div class="container">
    <form action="" method="post" autocomplete="off">
        <input class="field" type="text" name="name" placeholder="Entrez votre nom...">
        <input class="field" type="text" name="email" placeholder="Entrez votre mail...">
        <input class="field" type="text" name="subject" placeholder="Objet du message...">
        <textarea name="message" placeholder="Entrez votre message..."></textarea>
        <button type="submit" class="btn">Envoyer</button>
    </form>
</div>
{% endblock %}

{% block footer %}
<footer class="footer">Site de Présentation - <strong>NSI</strong> - élèves du Saint-Esprit</footer>
{% endblock %}