{% extends "base.html" %}

{% block title %}
Résultats de la recherche
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
{% endblock %}

{% block nav_title %}
Résultats de la recherche
{% endblock %}

{% block content%}
<div class="search-results-container" id="easter-egg">
    {% for search_name, search in get_flashed_messages(with_categories=True) %}
    <h3  class="animated-link animated-link-light">
        <a href="{{ link }}" class="search-link">Voir l'article</a>
    </h3>
    <div class="search-result">
        <p class="{{ search_name }}">{{ search }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
